/* Events. */
.pane-its-events-panel-upcomnig-events {
  background-color: $pure-white;
  text-align: center;
  .view-content-main p {
    max-width: 778px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .pane-title,
  .view-header {
    max-width: 778px;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 16px;
  }
  .view-header {
    margin-bottom: 70px;
  }
  .view-content-main {
    background-color: $alabaster;
    min-height: 369px;
    margin-top: 60px;
    @extend .clearfix;
  }
  .view-footer-main {
    clear: both;
  }

  .view-content-main .views-row {
    width: 400px;
    float: left;
    margin: 0 auto;
    @media #{$mobile} {
      margin-bottom: 20px;
    }
    &.views-row-even {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .event-link-wrapper {
    display: block;
    height: 400px;
    text-align: center;
    color: $white;
    padding: 0 30px;
    position: relative;
    span {
      display: block;
    }
    .event-date {
      padding-top: 87px;
      padding-bottom: 30px;
      font-family: $roboto;
      font-size: 18px;
    }
    .event-link {
      @extend .btn;
      padding: 8px 35px;
      font-family: $roboto;
      font-size: 20px;
    }
    .event-title {
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 22px;
    }
    .event-body {
      font-size: $normal-font-size;
      padding-bottom: 28px;
      p {
        font-size: $normal-font-size;
      }
    }
    .event-triangle-top,
    .event-triangle-bottom {
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 25px 0 25px;
      border-color: $black transparent transparent transparent;
      display: none;
    }
    .event-triangle-top {
      top: 0;
      bottom: auto;
      border-color: $alabaster transparent transparent transparent;
    }
    &:hover {
      background: $black !important;
      .event-triangle-top,
      .event-triangle-bottom {
        display: block;
      }
      .event-link {
        @extend .btn:hover;
      }
    }
  }
  .more-link-wrapper {
    margin-top: 44px;
  }
}

.view-display-id-panel_pane_nearest_event {
  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 46px;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: '';
      width: calc(50% - 292px);
      min-width: 10px;
      border-bottom: 1px solid $silver;
      top: calc(50% - 1px);
    }
    &:before {
      left: 70px;
      border-radius: 2px 0 0 2px;
    }
    &:after {
      right: 70px;
      border-radius: 0 2px 2px 0;
    }
  }
  .views-row {
    position: relative;
    min-height: 560px;
    background: image-url('banner.png') 0 0 no-repeat;
  }
  .views-field-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 76px;

    font-size: 32px;
    font-family: "PT Sans";
    color: $pure-white;
    margin-bottom: 48px;
    .subject-prefix {
      font-family: "Roboto";
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .views-field-field-subject-start-date {
    position: absolute;
    left: 50%;
    right: 0;
    top: 40%;
    width: 650px;
    height: 210px;
    margin-left: -325px;
    background-color: #292929;
    text-align: center;
    padding: 33px 70px;
    color: $pure-white;
    font-family: "Roboto";
    font-size: 18px;
    .countdown-inner {
      font-size: 80px;
      font-weight: 100;
      line-height: 100px;
    }
    .countdown-labels {
      span {
        font-family: "Roboto";
        font-weight: bold;
        float: left;
        width: 80px;
        margin-right: 64px;
      }
      .minutes {
        margin-right: 55px;
      }
      .seconds {
        margin-right: 0;
      }
    }
  }
  .views-field-nid {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    .btn {
      text-transform: none;
    }
  }
}

.view-display-id-panel_all_events {
  h2 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 62px;
  }
  .views-row {
    width: 608px;
    float: left;
    border: 1px solid #F2F2F2;
    margin: 1px;
    padding: 25px;
    margin-bottom: 20px;
  }
  .views-row-odd {
    margin-right: 20px;
  }
  .views-field-field-subject-image {
    width: 240px;
    float: left;
    margin: -26px 38px -26px -25px;
  }
  .views-field-field-subject-start-date {
    font-size: 14px;
    font-family: "PTS";
    color: #717171;
    margin-bottom: 20px;
  }
  .views-field-title {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
    a {
      color: #4E4E4E;
    }
  }
  .views-field-body {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .views-field-nid a {
    text-transform: none;
  }
}
