/* Variables. */
$green:        #2ECC71;
$light-green:  #00A950;
$black:        #242424;
$grey:         #5B5757;
$light-grey:   #35403A;
$white:        #EDEDF5;
$pure-white:   #FFF;
$panel-title:  #05050D;
$body:         #888888;
$alabaster:    #F9F9F9;
$silver:       #CCC;
$mercurysolid: #E5E5E5;
$emperor:      #4F4F4F;
$list:         #6E6E6E;
$btn-black-bg: #34403A;

// Normal screen
$screen-nr:     1024px;
$screen-nr-min: $screen-nr;
$screen-normal: $screen-nr-min;

// Font.
$huge-font-size: 18px;
$big-font-size: 16px;
$normal-font-size: 14px;
$sub-font-size: 12px;

$roboto: "Roboto";
$robotoc: "RobotoCondensed";
$robotob: "RobotoBlack";
$pts: "PTS";
