/* Variables. */
$green:        #2ECC71;
$light-green:  #00A850;
$black:        #060808;
$grey:         #5B5757;
$light-grey:   #35403A;
$white:        #EDEDF5;
$pure-white:   #FFF;
$panel-title:  #05050D;
$body:         #878787;
$alabaster:    #F9F9F9;
$silver:       #CCC;
$mercurysolid: #E5E5E5;


// Normal screen
$screen-nr:     1024px;
$screen-nr-min: $screen-nr;
$screen-normal: $screen-nr-min;

// Font.
$huge-font-size: 18px;
$big-font-size: 16px;
$normal-font-size: 14px;
$sub-font-size: 12px;

$roboto: "Roboto";
$robotoc: "RobotoCondensed";
$robotob: "RobotoBlack";
$pts: "PTS";
